<template>
  <div class="divide-y divide-black">
    <div class="flex  md:pb-1">
      <h1 class="text-4xl font-extrabold">Meet our friends</h1>
      <img src="../assets/Small-G.svg" alt="" style="margin-left: auto;">
    </div>
    <div class="pt-12">
      <div class="flex flex-wrap justify-between gap-x-8 gap-y-16 ">
        <div  v-for="(person,i) in people.records" :key="i" >
          <Person class="cursor-pointer" :person="person"></Person>
        </div>
      </div>
    </div>
  </div>
</template>
  
  <script>
  import { apiGetLists } from '../services/apiService.js'
  import Person from '../components/Person.vue'
  export default {
    name: 'Index',
    components: {
      Person
    },
    data() {
      return {
                  people: [],
                  api_token: 'keyEC9F0usYdVoWzg'
              }
          },
          async created() {
              this.people = await this.getLists()
          },
          methods: {
              async getLists() {
               let list = await apiGetLists()
               return list
              }
          }
      }
  
  </script>
  
  <style scoped>
 
  </style>
  