<template>
  <div class="divide-y divide-black" v-if="person">
    <div class="flex justify-between pb-2">
      <div class="flex justify-between w-1/2 items-end">
        <h1 class="text-4xl font-extrabold">
        {{ person.fields.Name }}
      </h1>
      <div>
        <p class="text-gray-600 font-bold">
          {{ person.fields.Role }}
        </p>
      </div>
      </div>
      <button class="bg-green-400 border-solid border-2 border-black rounded-full px-2">
        <p>Send Request</p>
      </button>
    </div>
    <div class="pt-12 flex gap-6">
      <img class="rounded-md w-304px h-390px object-cover" :src="img" alt="">
      <div class="flex flex-col justify-between">
        <p class="text-xl font-bold w-1/2 quote">{{ person.fields.Quote }}</p>
        <p>{{ person.fields.Bio }}</p>
      </div>
    </div>
  </div>
  </template>
  
  <script>
  import { apiGetDetails } from '../services/apiService.js'

  export default {
    name: 'PersonDetails',
    data() {
      return {
        id: this.$route.params.id,
        person: undefined,
        img: undefined,

      }
    },
    async created() {
      this.person = await this.getDetails();
      this.img = this.person.fields["Profile image"][0].url;
    },
    methods: {
      async getDetails(){
        return await apiGetDetails(this.id)
      }
    }
  }
  
  </script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
 .w-304px{
  width: 304px;
 }
 .h-390px{
  height: 390px;
 }

 .quote{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
 }

  </style>
  