<template>
  <div class="flex space-x-3" @click="goToDetails(person.id)">
    <img :src="img" class="w-48 h-60 object-cover rounded-md shdw" alt="">
    <div class="w-48">
      <div class="h-52">
        <h1 class="text-xl font-bold">
          {{ person.fields.Name }}
        </h1>
        <h2 class="text-gray-600 font-bold">
          {{ person.fields.Role }}
        </h2>
        <p class="text-sm">
          {{ person.fields.Quote }}
        </p>
      </div>
      <div class="h-2"></div>
      <div class="flex content-end space-x-3 rounded">
        <img src="../assets/Linkedin.svg" alt="">
        <img src="../assets/Twitter.svg" alt="">
      </div>
    </div>
  </div>
</template>
  
  <script>
  export default {
    name: 'Person',
    props: {
      person: Object
    },
    data(props) {
      return {
                  img: props.person.fields["Profile image"][0].url,
                  api_token: 'keyEC9F0usYdVoWzg'
              }
          },
          async created() {
          },
          methods: {
              goToDetails(id) {
                this.$router.push('/personDetails/' + id)
              }
          }
      }
  
  </script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  .shdw{
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.2));
  }
  </style>
  