<template>
    <img src="./assets/Big-G.svg" class="absolute bottom-0 right-0" alt="">
    <router-view></router-view>
</template>

<script>

    export default {
        name: 'App',
        data() {
            return {
                api_token: 'keyEC9F0usYdVoWzg'
            }
        },
        created() {

        },

        methods: {
           
            storeRows(/* data */) {
                /* data structure {
                    name: "Paul",
                    ids: ["asdf32fad","234aassdf32fad"]
                }
                */
                /*
                @todo complete this method, use once request (like storeRow)

            */
            },

            
        }
    }
</script>

<style>
    #app {
        font-family: 'Work Sans';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: black;
        margin-top: 60px;
}
    
</style>
